.product-detail-container .product-detail-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 48px;
}

.product-detail .product-brand,
.product-detail .product-category,
.product-detail .product-series,
.product-detail .product-display-name,
.product-detail .product-release-date {
  margin: 0.5em 0;
}

.product-detail .product-description {
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  margin-bottom: 1em;
  white-space: pre-line;
}

.product-detail .product-price,
.product-detail .product-sku {
  margin: 0.5em 0;
}

.product-detail .product-social-proof {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.product-detail .product-dimensions,
.product-detail .product-attribution {
  margin-top: 1.5em;
}

.product-detail .product-dimensions h3,
.product-detail .product-attribution h3 {
  font-size: var(--heading-font-size-s);
  margin-bottom: 0.5em;
}

.product-detail .product-selling-points {
  margin-top: 1.5em;
}

.product-detail .product-selling-points h3 {
  font-size: var(--heading-font-size-s);
  margin-bottom: 0.5em;
}

.product-detail .selling-points-list {
  list-style: none;
  padding-left: 0;
}

.product-detail .selling-points-list li {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75em;
}

.product-detail .selling-point-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  flex-shrink: 0;
}

.product-detail .selling-point-title {
  font-weight: 700;
}

.product-detail .selling-point-text {
  width: 100%;
  font-size: var(--body-font-size-s);
  color: var(--dark-color);
}

.product-detail .product-specs,
.product-detail .product-features {
  margin-top: 1.5em;
}

.product-detail .product-specs h3,
.product-detail .product-features h3 {
  font-size: var(--heading-font-size-s);
  margin-bottom: 0.5em;
}

.product-detail .product-gallery {
  margin-top: 1.5em;
}

.product-detail .product-gallery h3 {
  font-size: var(--heading-font-size-s);
  margin-bottom: 0.5em;
}

.product-detail .product-gallery picture {
  display: block;
  margin: 0.5em 0;
}

.product-detail .product-gallery img {
  max-width: 100%;
  height: auto;
}

.product-detail ul {
  margin: 0;
  padding-left: 1.5em;
}

.product-detail .button-container {
  margin-top: 1.5em;
}

.product-detail .button-container .button + .button {
  margin-left: 0.5em;
}

@media (width >= 900px) {
  .product-detail-container .product-detail-wrapper {
    padding: 32px 32px 64px;
  }
}
